root = true

# Unix-style newlines
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Indent style
indent_style = space
indent_size = 4

# Indent style of html
[*.{html,js}]
indent_size = 2
